{% extends "layout.html" %}
{% block content %}

<ul>
  <li>
  <h2>Going through a life transition?</h2>
  <ul>
    <li>Marriage</li>
    <li>Surgery</li>
    <li>Pregnancy</li>
    <li>Menopause</li>
    <li>Divorce</li>
  </ul>
  </li>
  <li>
  <h2>Turning a landmark age?</h2>
  <ul>
    <li>30</li>
    <li>40</li>
    <li>45</li>
    <li>50</li>
    <li>60</li>
  </ul>
  </li>
  <li>
  <h2>Just stoked about being alive and want to level up your vibrancy?</h2>
  <ul>
    <li>Like to challenge yourself</li>
    <li>Marathon Runner</li>
    <li>Tri-athalete</li>
    <li>Just plain excited about being your best!</li>
  </ul>
  </li>
</ul>

{% endblock %}
